@font-face {
    font-family: 'Pixel Operator Mono'; 
    src: url('/fonts/PixelOperatorMono.ttf') format('truetype');
}
@font-face {
    font-family: 'Pixel Operator Mono Bold'; 
    src: url('/fonts/PixelOperatorMono-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Cthulhumbus Arcade'; 
    src: url('/fonts/JMHCthulhumbusArcadeUG.ttf') format('truetype');
}

:root {
    --spacing: .5rem;
}

html {
    background-color: #2b2b2b;
}

body {
    font-family: 'Pixel Operator Mono', monospace;
    max-width: 768px;
    margin: 0 auto;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0.07em;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
time {
    font-family: 'Pixel Operator Mono Bold', monospace;
    font-weight: 700;
}

ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

a {
    font-family: 'Pixel Operator Mono Bold', monospace;
    color: #9c302a;
    text-decoration: none;
}

li {
    line-height: 1rem;
    padding-left: 1em;
    text-indent: -1em;
    vertical-align: middle;
}

ul > * + * {
    margin-top: .75rem;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

header {
    background-color: #000000;
    padding: 2rem;
    text-align: center;
}

header h1 {
    font-family: 'Cthulhumbus Arcade';
    font-size: 3rem;
}

header figure {
    display: block;
}

#container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: var(--spacing);
    margin-top: var(--spacing);
}
/* media queries for mobile site layout */
@media screen and (max-width: 768px) {
    #container {
        display: grid;
        grid-template-columns: 1fr;
    }
    #side-panel {
        grid-row-start: 1;
    }
    nav ul {
        display: flex;
    }
    nav ul > * + * {
        margin-top: 0;
        margin-left: 1.25rem;
    }
    #status {
        display: none;
    }
}

main > * + *,
#side-panel > * + * {
    margin-top: var(--spacing);
}

section,
nav,
article {
    background-color: #000000;
    padding: 1rem;
}

nav li:before {
    content: "❥";
    padding-right: 5px;
}

footer {
    background-color: #000000;
    padding: .25rem;
    margin-top: var(--spacing);
    text-align: center;
}

dialog {
    z-index: 50;
}
dialog::backdrop {
    background-color: rgba(0,0,0,70%);
}

.modal-inner {
    width: 100%;
    height: 100%;
}
.modal-header,
.modal-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/**
 * BLOG
 */

article {
    line-height: 1.5;
}

article ul,
article ol {
    margin-left: 1rem;
}
article ul li:before {
    content: "❥";
    padding-right: 5px;
}
article li {
    margin: .5rem;
}

/**
 * ARTWORK
 */
.artwork-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: var(--spacing);
}

.artwork-thumb {
    width: 100%;
    aspect-ratio: 1/1;
}

#art-gallery {
    width: 1000px;
    width: 90vw;
    max-width: 768px;
    max-height: 90vh;
}

.artwork-gallery {
    width: 100%;
    height: 60vh;
    object-fit: scale-down;
}

#art-gallery .gallery-details h2 {
    margin-bottom: .5rem;
    text-align: center;
}
#art-gallery .gallery-details p {
    margin-top: 0;
    text-align: center;
}

.gallery-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gallery-slide {
    display: none;
}

.gallery-nav button:disabled {
    white-space: nowrap;
}

.gallery-nav button:disabled {
    opacity: .3;
    cursor: default;
}