@font-face {
    font-family: 'Pixel Operator Mono'; 
    src: url('/fonts/PixelOperatorMono.ttf') format('truetype');
}
@font-face {
    font-family: 'Pixel Operator Mono Bold'; 
    src: url('/fonts/PixelOperatorMono-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Cthulhumbus Arcade'; 
    src: url('/fonts/JMHCthulhumbusArcadeUG.ttf') format('truetype');
}
@font-face {
    font-family: 'Venice Classic'; 
    src: url('/fonts/VeniceClassic.ttf') format('truetype');
}

:root {
    --spacing: .5rem;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #040d5e #000000;
    
}

html {
    background-color: #1b1b1f;
}

body {
    font-family: 'Garamond', serif;
    width: 768px;
    margin: 0 auto;
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 0.07em;
    padding-bottom: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
time {
    font-family: 'Pixel Operator Mono Bold', monospace;
    font-weight: 700;
}

h1 {
    font-size: 1.5rem;
}
h2 {
    font-size: 1.25rem;
}
h3 {
    font-size: 1.1rem;
}

p {
    margin-top: 0;
    line-height: 1.5;
}

ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

a {
    font-family: 'Pixel Operator Mono Bold', monospace;
    color: #6675ff;
    text-decoration: none;
    transition: color .2s ease-in;
}
a:hover {
    color: #0000ff;
}

li {
    line-height: 1.3rem;
    vertical-align: middle;
}

ul > * + * {
    margin-top: .75rem;
}

ul > li > ul {
    margin-left: 1rem;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

header {
    background-color: #000000;
    padding: 2rem;
    text-align: center;
    margin-bottom: var(--spacing);
}

header h1 {
    font-family: 'Cthulhumbus Arcade';
    font-size: 3rem;
    color: #ffffff;
}

header figure {
    display: block;
}

#container {
    display: grid;
    grid-template-columns: 550px 1fr;
    grid-gap: var(--spacing);
}

main > * + *,
#side-panel > * + * {
    margin-top: var(--spacing);
}

section,
nav,
article {
    background-color: #000000;
    padding: 1rem;
}

nav li:before {
    content: "❥";
    padding-right: 5px;
}

.widget {
    font-size: .8rem;
    max-height: 300px;
    overflow-y: scroll;
}
.widget--short {
    font-size: .8rem;
    max-height: 150px;
    overflow-y: scroll;
}

.homepage-grid {
    display: grid;
    grid-gap: var(--spacing);
    margin-top: var(--spacing);
}
.homepage-grid--2 {
    grid-template-columns: 1fr 1fr;
}
.homepage-grid--3 {
    grid-template-columns: 1fr 1fr 1fr;
}

.homepage-coord-img {
    width: 100%;
    height: 325px;
    object-fit: scale-down;
    transition: all .2s ease-in;
}
.homepage-coord-img:hover {
    webkit-filter: blur(1px); /* Chrome, Safari, Opera */
    filter: blur(1px);
}

footer {
    padding: .25rem;
    margin-top: var(--spacing);
    text-align: center;
}

dialog {
    z-index: 50;
}
dialog::backdrop {
    background-color: rgba(0,0,0,70%);
}

.modal-inner {
    width: 100%;
    height: 100%;
}
.modal-header,
.modal-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
section #button-container {
    display: flex;
    flex-wrap: wrap;
}
section #button-container * {
    padding: 1px;
}

.buttonHTML {
    font-family: 'Pixel Operator Mono', monospace;
    width: 82px;
    font-size: 10px;
    background-color: #040d5e;
    color: #ffffff;
    border: 1px solid #ffffff;
}

/**
 * garden
 */

article ul,
article ol {
    margin-left: 1rem;
}
article ul li:before {
    content: "❥";
    margin-left: -21px;  /* this is to move the icon left */
    padding-right: 10px; /* to keep some space between icon and text */
}
article li {
    margin: .5rem;
}
article img {
    margin: 1rem 0;
    max-width: 100%;
}

/**
 * ARTWORK
 */

.art-wip-img {
    width: 100%;
    object-fit: scale-down;
}

.artwork-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: var(--spacing);
}

.artwork-thumb {
    width: 100%;
    aspect-ratio: 1/1;
}

#art-gallery {
    width: 90vw;
    height: auto;
    max-width: 768px;
    max-height: 90vh;
}

.artwork-gallery {
    width: 100%;
    height: 70vh;
    object-fit: scale-down;
}

#art-gallery .gallery-details h2 {
    margin-bottom: .5rem;
    text-align: center;
}
#art-gallery .gallery-details p {
    margin-top: 0;
    text-align: center;
}

.gallery-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gallery-nav button:disabled {
    white-space: nowrap;
}

.gallery-nav button:disabled {
    opacity: .3;
    cursor: default;
}

#egl-collection--nav {
    display: flex;
}
.egl-collection--nav-img {
    object-fit: scale-down;
    width: 100%;
}
#egl-collection--nav div
{
    display: block;
}
#egl-collection--nav div:not(:last-child)
{
    margin-right: 1rem;
}

.wardrobe-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: var(--spacing);
    width: 100%;
}
.wardrobe-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}
.wardrobe-item img {
    object-fit: scale-down;
    width: 100%;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.coords img {
    max-height: 80vh;
    width: auto;
    display: block;
    max-width: 100%;
    margin-top: .5rem;
}

.coords ul {
    margin-bottom: 2rem;
}

#webrings {
    display: flex;
}

#webrings > * {
    margin-right: var(--spacing);
}

/**
 * DIARY
 */
.diary-entry {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-gap: var(--spacing);
}

.diary-image {
    width: 150px;
    object-fit: cover;
    aspect-ratio: 1/1;
}

.diary-info {
    font-size: 12px;
}

.diary-content {
    border: 1px solid #ffffff;
    padding: 1rem;
    height: 666px;
    overflow-y: scroll;
}

.diary-content h1,
.diary-signature {
    font-family: 'Venice Classic', cursive;
}

.diary-signature {
    text-align: right;
    margin-top: 2rem;
}

/**
 * SKILLTREE
 */

.skilltree--bar {
    width: 100%;
    height: 25px;
    border: 1px solid #ffffff;
    position: relative;
    margin-bottom: var(--spacing);
}

.skilltree--bar-filler {
    width: var(--skilltree-percent);
    height: 25px;
    background-color: #051394;
    position: absolute;
    top: 0;
    left: 0;
}
.skilltree--bar-text {
    height: 25px;
    position: absolute;
    top: 0;
    left: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    margin: 1px 0 0 0;
}

.skilltree--container {
    margin-bottom: 1rem;
}

.skilltree--container p {
    margin: 0;
}

.skilltree--header {
    display: flex;
    justify-content: space-between;

    font-family: 'Pixel Operator Mono Bold', monospace;
}