@font-face {
    font-family: 'Pixel Operator Mono'; 
    src: url('/fonts/PixelOperatorMono.ttf') format('truetype');
}
@font-face {
    font-family: 'Pixel Operator Mono Bold'; 
    src: url('/fonts/PixelOperatorMono-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Cthulhumbus Arcade'; 
    src: url('/fonts/JMHCthulhumbusArcadeUG.ttf') format('truetype');
}
@font-face {
    font-family: 'Venice Classic'; 
    src: url('/fonts/VeniceClassic.ttf') format('truetype');
}

:root {
    --spacing: 1rem;
    --double-spacing: 2rem;
    --pictochat: #F3F3FA;
    --ghost: #B3ADC4;
    --chapped: #e2c7d4;
    --chapped-dark: #A07C8D;
    --kuromi: #837088;;
    --bruised: #251B2E;
    --crypt: #000000;
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--kuromi) var(--crypt);
}

html {
    background-color: var(--crypt);
}

body {
    font-family: 'Garamond', serif;
    margin: 0;
    padding: 0;
    color: var(--pictochat);
    font-size: 14px;
    letter-spacing: 0.07em;
    background-image: linear-gradient(var(--ghost), var(--bruised), var(--crypt));
    background-size: auto;
    background-repeat: no-repeat;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
time {
    font-family: 'Pixel Operator Mono Bold', monospace;
    font-weight: 700;
    margin-bottom: .5rem;
}

h1 {
    font-size: 1.5rem;
}
h2 {
    font-size: 1.25rem;
}
h3 {
    font-size: 1.1rem;
}

p {
    margin-top: .4rem;
    line-height: 1.5;
}

ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

a {
    font-family: 'Pixel Operator Mono Bold', monospace;
    color: var(--kuromi);
    text-decoration: none;
    transition: color .2s ease-in;
}
a:hover {
    color: var(--chapped-dark);
}

li {
    line-height: 1.3rem;
    vertical-align: middle;
}

ul > * + * {
    margin-top: .25rem;
}

ul > li > ul {
    margin-left: 1rem;
}

hr {
    border-top: 1px solid var(--ghost);
    border-bottom: transparent;
}


dialog {
    z-index: 50;
    position: absolute;
    left: 0;
    right: 0;
}
dialog::backdrop {
    background-color: rgba(0,0,0,70%);
}
.modal-inner {
    width: 100%;
    height: 100%;
}
.modal-header,
.modal-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-center {
    text-align: center;
}


.portrait {
    object-fit: cover;
    width: 100%;
    aspect-ratio: 3/4;
}
.portrait-long {
    object-fit: cover;
    width: 100%;
    aspect-ratio: 1/2;
}
.square {
    object-fit: cover;
    width: 100%;
    aspect-ratio: 1/1;
}

.scale-down {
    object-fit: scale-down;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

header {
    background-color: var(--crypt);
    padding: 2rem;
    width: 250px;
    text-align: center;
    position: fixed;
    height: 100dvh;
}
@media screen and (max-width: 1000px)
{
    header {
        width: 150px;
    }
}
@media screen and (max-width: 768px)
{
    header {
        position: relative;
        height: auto;
        width: auto;
    }
}

header h1 {
    font-family: 'Cthulhumbus Arcade';
    font-size: 2.8rem;
    color: var(--pictochat);
    margin-bottom: 2rem;
}
@media screen and (max-width: 1000px)
{
    header h1 {
        font-size: 1.6rem;
    }
}
main {
    margin-left: 314px;
    min-height: 100dvh;
    padding: var(--spacing);
}
@media screen and (max-width: 1000px)
{
    main {
        margin-left: 214px;
    }
}
@media screen and (max-width: 768px)
{
    main {
        margin-left: 0;
    }
}

article img {
    max-width: 500px;
    max-height: 80dvh;
    object-fit: scale-down;
}

.text-lg {
    font-size: 2rem;
}

nav {
    letter-spacing: 1px;
    font-size: 2rem;
}
nav div {
    text-align: center;
}
nav div:not(:last-child) {
    margin-bottom: 1.3rem;
}
@media screen and (max-width: 768px)
{
    nav {
        font-size: .9rem;
    }
    nav div {
        display: inline;
    }
    nav div:not(:last-child) {
        margin-right: 1.3rem;
    }
}
.link-active {
    border-bottom: 5px solid var(--chapped);
}


/**
 * UTILITIES
 */
img.scale-down {
    width: 100%; 
    object-fit: scale-down;
}


.bg-crypt {
    background-color: var(--crypt);
}
.bg-bruised {
    background-color: var(--bruised);
}
.bg-kuromi {
    background-color: var(--kuromi);
}
.bg-ghost {
    background-color: var(--ghost);
}
.bg-chapped {
    background-color: var(--chapped);
}
.bg-pictochat {
    background-color: var(--pictochat);
}
.text-crypt {
    color: var(--crypt);
}
.text-bruised {
    color: var(--bruised);
}
.hover-bruised:hover {
    color: var(--bruised);
}
.text-kuromi {
    color: var(--kuromi);
}
.text-ghost {
    color: var(--ghost);
}
.text-chapped {
    color: var(--chapped);
}
.text-pictochat {
    color: var(--pictochat);
}
.border {
    border: 4px solid;
}
.border-crypt {
    border-color: var(--crypt);
}
.border-bruised {
    border: 2px solid var(--bruised);
}
.border-kuromi {
    border: 2px solid var(--kuromi);
}
.border-ghost {
    border: 2px solid var(--ghost);
}
.border-chapped {
    border: 2px solid var(--chapped);
}
.border-pictochat {
    border: 2px solid var(--pictochat);
}


@media screen and (max-width: 768px)
{
    .desktop-only {
        display: none;
    }

}

.mr {
    margin-right: var(--double-spacing);
}
.mb {
    margin-bottom: var(--double-spacing);
}
.mt-0 {
    margin-top: 0;
}

.flex {
    display: flex;
}
.flex-col {
    flex-direction: column;
}
.justify-center {
    justify-content: center;
}
.items-center {
    align-items: center;
}
.flex-wrap {
    flex-wrap: wrap;
}

.grid {
    display: grid;
    gap: var(--spacing);
}
.grid-cols-2 {
    grid-template-columns: 1fr 1fr;
}
.grid-cols-3 {
    grid-template-columns: 1fr 1fr 1fr;
}
@media screen and (max-width: 768px)
{
    .grid {
        grid-template-columns: 1fr;
    }
}
.col-span-2 {
    grid-column: span 2 / span 2;
}
@media screen and (max-width: 768px)
{
    .col-span-2 {
        grid-column: span 1 / span 1;
    }
}

.padding {
    padding: var(--spacing);
}

.underline {
    border-bottom: 3px solid black;
}

.container {
    max-width: 768px;
    margin: auto;
}

.w-full {
    width: 100%;
}


/**
 * ARTWORK
 */

.art-wip-img {
    width: 100%;
    object-fit: scale-down;
}

.artwork-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: var(--spacing);
}

.artwork-thumb {
    width: 100%;
    aspect-ratio: 1/1;
}

#art-gallery {
    width: 90vw;
    height: auto;
    max-width: 768px;
    max-height: 90vh;
}

.artwork-gallery {
    width: 100%;
    height: 70vh;
    object-fit: scale-down;
}

#art-gallery .gallery-details h2 {
    margin-bottom: .5rem;
    text-align: center;
}
#art-gallery .gallery-details p {
    margin-top: 0;
    text-align: center;
}

.gallery-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gallery-nav button:disabled {
    white-space: nowrap;
}

.gallery-nav button:disabled {
    opacity: .3;
    cursor: default;
}

#webrings {
    display: flex;
}

#webrings > * {
    margin-right: var(--spacing);
}

/**
 * SKILLTREE
 */

.skilltree--bar {
    width: 100%;
    height: 25px;
    border: 1px solid var(--bruised);
    position: relative;
    margin-bottom: var(--spacing);
    font-family: 'Pixel Operator Mono Bold', monospace;
}

.skilltree--bar-filler {
    width: var(--skilltree-percent);
    height: 25px;
    background-color: var(--chapped-dark);
    position: absolute;
    top: 0;
    left: 0;
}
.skilltree--bar-text {
    height: 25px;
    position: absolute;
    top: 0;
    left: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    margin: 1px 0 0 0;
}

.skilltree--container {
    margin-bottom: 1rem;
}

.skilltree--container p {
    margin: 0;
}

.skilltree--header {
    display: flex;
    justify-content: space-between;
    font-family: 'Pixel Operator Mono Bold', monospace;
}